* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    font-family: "Montserrat", sans-serif;
}

.bg-light-grey {
    background-color: #f6f5f3;
}

.container-main-title {
    background-color: white;
}

.main-title {
    color: #ff9614;
    font-family: "Nerko One", cursive;
    text-align: center;
    padding: .8rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container-block-header {
    padding: 0 .8rem;
}

.container-block-header h3 {
    color: #b1b1c0;
    font-weight: 300;
    font-size: 1rem;
    padding-top: .8rem;
    padding-bottom: .5rem;
}

.container-block-header>h2 {
    color: #4e3969;
    padding-bottom: 1rem;
}

.recipe {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 0px 3px 6px 3px #e9e8e7;
    padding: 1rem 2rem;
}

.recipe h2 {
    padding-top: .8rem;
    padding-bottom: 1.5rem;
}

.recipe p {
    padding-bottom: 1rem;
}

.bolder{
    font-weight: bolder;
}

.bolder .no-bolder{
    font-weight: 400;
}