* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  font-family: "Montserrat", sans-serif;
}
.container-flex {
  display: flex;
}
.container-direction {
  flex-direction: column;
}
.bg-light-grey {
  background-color: #f6f5f3;
}

.container-main-title {
  background-color: white;
}
/****** STRUTTURA HEADER ******/
.main-title {
  color: #ff9614;
  font-family: "Nerko One", cursive;
  text-align: center;
  padding: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

.marg-R-L {
  margin: 0 0.8rem;
}

.container-block-header h3 {
  color: #b1b1c0;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.container-block-header > h2 {
  color: #4e3969;
  padding-bottom: 1rem;
}
.hidden-title {
  display: none;
}

.recipe {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 6px 3px #e9e8e7;
  padding: 1.5rem 2rem;
}

.recipe h2 {
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
}
.recipe ul {
  list-style: none;
}
.recipe li {
  padding-bottom: 1rem;
}

.bolder {
  font-weight: bolder;
}

.bolder .no-bolder {
  font-weight: 400;
}
/************ STRUTTURA ICONE **************/
.social-icon {
  justify-content: space-between;
  list-style: none;
  padding: 1.5rem 0;
}
.social-icon li {
  border-radius: 20px;
  background-color: white;
  padding: 0.5rem 0.8rem;
  display: flex;
  box-shadow: 0px 3px 6px 3px #e9e8e7;
  align-items: center;
}
/****** BANNER ******/
.banner {
  display: none;
  padding-bottom: 0.8rem;
}
/*************** STRUTTURA MAIN *******************/
.presentation h2 {
  padding-bottom: 0.8rem;
}

hr {
  height: 1.5px;
  width: 65px;
  border: 0;
  background-color: #f7972e;
}
.presentation img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 1.2rem 0;
}
.presentation p {
  line-height: 1.8rem;
  padding-bottom: 2.5rem;
}
/*************** STRUTTURA FOOTER *****************/
.bg-purple {
  background-color: #7c69a4;
}
footer {
  padding: 1.5rem;
}
.container-footer section {
  text-align: center;
  color: white;
}
.container-footer section p {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}
.footer-bar {
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-bar li {
  padding-right: 0.8rem;
}
.footer-bar li a {
  color: white;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .main-title {
    text-align: start;
  }
  .hidden-title {
    display: inline;
  }
  .marg-R-L {
    margin: 0 2.5rem;
  }
  .banner {
    display: block;
  }
  .social-icon li {
    padding: 0.5rem 3.5rem;
  }
  .recipe ul {
    display: flex;
    flex-wrap: wrap;
  }
  .recipe ul li {
    padding: 1rem 4.5rem 1rem 0;
  }

  .presentation img {
    float: left;
    padding: 1.2rem 0.5rem 0 0;
  }
  .presentation p {
    padding-top: .8rem;
  }
}
