* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  font-family: "Montserrat", sans-serif;
}

.bg-light-grey {
  background-color: #f6f5f3;
}

.container-main-title {
  background-color: white;
}

.main-title {
  color: #ff9614;
  font-family: "Nerko One", cursive;
  text-align: center;
  padding: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

.marg-R-L {
  margin: 0 0.8rem;
}

.container-block-header h3 {
  color: #b1b1c0;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.container-block-header > h2 {
  color: #4e3969;
  padding-bottom: 1rem;
}
.col-recipe {
  display: flex;
  flex-direction: column;
}
.recipe {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 6px 3px #e9e8e7;
  padding: 1rem 2rem;
}

.recipe h2 {
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
}

.recipe p {
  padding-bottom: 1rem;
}

.bolder {
  font-weight: bolder;
}

.bolder .no-bolder {
  font-weight: 400;
}
.social-icon {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.5rem 0;
}
.social-icon li {
  border-radius: 20px;
  background-color: white;
  padding: 0.5rem 0.8rem;
  display: flex;
  box-shadow: 0px 3px 6px 3px #e9e8e7;
  align-items: center;
}
.presentation {
  display: flex;
  flex-direction: column;
}
.presentation h2{
  /* border-bottom: 2px solid #f7972e; */
  padding-bottom: .8rem;
}
hr{
  height: 1.5px;
  width: 65px;
  border: 0;
  background-color: #f7972e;
}
.presentation img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 1.2rem 0;
}
.presentation p{
  line-height: 1.8rem;
  padding-bottom: 1.5rem;
}
